// breakpoints 
$desktop: 1110px;
$tablet: 768px; 
$mobile: 320px;

$dt-breakpoint: $desktop;
$mobile-breakpoint: $tablet;


// colors
$white: #FFFFFF;
$black: #000000;
$gray-extra-light: #EFEFEF;
$gray-light: #F0F0F0;
$dark-grey: #333333;
$gray: #828282;
$pink: #F13C6E;
$pink-light: #F57699;
$pink-extra-light: #F9ADC2;
