.user {
    &__header {
        display: flex;
        align-items: center;
        padding: 0 30px;
        background-color: #f5f5f5;
        border: 1px solid #cfd8dc;
        height: 50px;
        border-radius: 5px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
        margin-bottom: 10px;
    }

    &__id {
        width: 150px;
    }

    &__username {
        width: 200px;
    }

    &__name {
        width: 150px;
    }

    &__surname {
        width: 180px;
    }

    &__photo {
        width: 100px;
    }

    &__status {
        width: 200px;
    }

    &__actions {
        margin-left: auto;
    }
}
